<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/FS_Standard_Head'); %> <%-
    include('../partials/FS_CardModule'); %>
    <link rel="stylesheet" href="/css/FS_Groups.css" />
    <script src="/js/FS_Groups.js" type="module"></script>
    <title>Groups - Fellowships</title>
    <script>
      window.ids = "<%= ids %>";
      window.names = "<%= names %>";
    </script>
  </head>

  <header><%- include('../partials/FS_Header'); %></header>

  <div class="main-content-wrapper">
    <body>
      <div class="main_div">
        <main class="groups-list container">
          <div class="page_header">Groups</div>

          <hr />

          <div id="repeating_cards">
            
          </div>
          
        </main>
      </div>
    </body>
  </div>

  <footer><%- include('../partials/FS_Footer') %></footer>
</html>
